// MARK: top
.top {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content 1fr;
	gap: 8px;
	align-items: center;
	padding: 8px;
}

.controls {
	grid-column: 1 / span 2;
	display: flex;
	align-items: center;
	gap: 8px;
}

.control-btn {
	display: grid;
	grid-template-columns: auto auto;
	gap: 8px;
	border-radius: 9999px;
	padding: 8px 16px;
	background: var(--primary);
	color: white;
	cursor: pointer;

	&:hover,
	&:active {
		filter: brightness(0.9);
	}
}

.form {
	display: grid;
	grid-template-columns: auto auto;
	gap: 8px;

	label {
		display: flex;
		gap: 8px;
		align-items: center;
	}

	input {
		border-radius: 9999px;
		height: 40px;
		padding: 6px;
		background: var(--primary);
	}
}

.label-top {
	flex-grow: 1;
	text-align: center;
}

.label-left {
	writing-mode: sideways-lr;
}

.table {
	grid-column: 2;
	display: grid;
	align-items: center;
	justify-items: center;
	width: 100%;
	height: 100%;
	min-height: 600px;
}

.color-stop-btn,
.interpolation-space-btn {
	margin: 1px;
	border-radius: 4px;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	min-height: 40px;
	background: var(--primary);
	padding: 4px;
	color: white;
	font-size: 10px;
	text-align: center;
	cursor: crosshair;

	&:hover {
		background: red;
	}
}

.interpolation-space-btn {
	white-space: nowrap;
}

.gradient {
	width: 100%;
	height: 100%;
}

.note {
	margin: auto;
	max-width: 840px;
	font-size: 12px;
	color: rgb(59, 59, 59);
}

// MARK: bottom
.bottom {
	margin: auto;
	max-width: 840px;
	padding-bottom: 140px;
}

.list-lvl-1 {
	list-style: upper-roman inside;
}

.list-lvl-2 {
	padding: 0 0 0 64px;
	list-style: decimal outside;
}

.list-lvl-3 {
	padding: 0 0 0 64px;
	list-style: disc outside;
}

.list-headline {
	font-weight: 700;
	font-size: 24px;
}

.list-item {
	font-weight: 400;
	font-size: 16px;
}

.code-box {
	margin: 16px 0;
	border-radius: 8px;
	background: #333333;
	padding: 16px;
	color: white;
	font-family: monospace;
}

.direction {
	color: rgb(255, 129, 150);
	font: inherit;
}

.interpolation-space {
	color: limegreen;
	font: inherit;
}

.color-stop {
	color: yellow;
	font: inherit;
}

.blue-bug {
	margin: 16px 64px;

	.oklab,
	.oklch {
		height: 50px;
		padding: 8px;
		font-size: 14px;
		background: linear-gradient(
			to right in oklab,
			color(xyz-d65 0.95 1 1.09),
			color(xyz-d65 0.18 0.072 0.951)
		);
	}

	.oklch {
		border-top: 1px solid black;
		background: linear-gradient(
			to right in oklch,
			color(xyz-d65 0.95 1 1.09),
			color(xyz-d65 0.18 0.072 0.951)
		);
	}
}

.lightpink-bug {
	margin: 16px 64px;

	.oklab,
	.oklch {
		height: 50px;
		padding: 8px;
		font-size: 14px;
		background: linear-gradient(
			to right in oklab,
			color(xyz-d65 0.584 0.463 0.36),
			color(xyz-d65 0.18 0.072 0.951)
		);
	}

	.oklch {
		border-top: 1px solid black;
		background: linear-gradient(
			to right in oklch,
			color(xyz-d65 0.584 0.463 0.36),
			color(xyz-d65 0.18 0.072 0.951)
		);
	}

	.color-wheel {
		position: relative;
		margin: 16px auto;
		width: 300px;
		height: 300px;
		border-radius: 9999px;
		background:
			radial-gradient(
				in oklch,
				oklch(100% 0.00011 271.152),
				oklch(100% 0.00011 271.152 / 0) 50%
			),
			conic-gradient(
				in oklch,
				oklch(62.793% 0.25768 29.223),
				oklch(96.798% 0.21094 109.783),
				oklch(86.645% 0.29481 142.511),
				oklch(90.541% 0.15458 194.807),
				oklch(45.203% 0.3133 264.073),
				oklch(70.166% 0.3226 328.352),
				oklch(62.793% 0.25768 29.223)
			);

		.oklch-label {
			position: absolute;
			top: 60px;
			left: 60px;
		}

		.oklab-label {
			position: absolute;
			top: 160px;
			left: 90px;
		}

		svg {
			width: 100%;
			height: 100%;
		}
	}
}
