// MARK: top
.top {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content 1fr;
	gap: 8px;
	align-items: center;
	padding: 8px;
}

.controls {
	grid-column: 1 / span 2;
	display: flex;
	align-items: center;
	gap: 8px;
}

.control-btn {
	display: grid;
	grid-template-columns: auto auto;
	gap: 8px;
	border-radius: 9999px;
	padding: 8px 16px;
	cursor: pointer;

	&:hover,
	&:active {
		filter: brightness(0.9);
	}
}

.form {
	display: grid;
	grid-template-columns: auto auto;
	gap: 8px;

	label {
		display: flex;
		gap: 8px;
		align-items: center;
	}

	input {
		border-radius: 9999px;
		height: 40px;
		padding: 6px;
	}
}

.label-top {
	flex-grow: 1;
	text-align: center;
}

.label-left {
	writing-mode: sideways-lr;
}

.table {
	grid-column: 2;
	display: grid;
	align-items: center;
	justify-items: center;
	width: 100%;
	height: 100%;
	min-height: 600px;
}

.color-stop-btn,
.interpolation-space-btn {
	margin: 1px;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	min-height: 40px;
	padding: 4px;
	font-size: 14px;
	text-align: center;
	word-break: break-all;
	cursor: pointer;

	&:hover {
		background: red;
		color: black;
	}
}

.interpolation-space-btn {
	white-space: nowrap;
}

.gradient {
	width: 100%;
	height: 100%;
}

.note {
	margin: auto;
	width: fit-content;
	max-width: 80vw;
	color: rgb(59, 59, 59);
	font-size: 12px;
	text-align: center;
}

.signs {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	justify-content: center;
}

// MARK: bottom
.bottom {
	margin: auto;
	max-width: 840px;
	padding-bottom: 140px;
}

.list-lvl-1 {
	list-style: upper-roman inside;
}

.list-lvl-2 {
	padding: 0 0 0 64px;
	list-style: decimal outside;
}

.list-lvl-3 {
	margin: 8px 0 16px;
	padding: 0 0 0 64px;
	list-style: disc outside;
}

.list-headline {
	margin: 16px 0 8px;
	font-weight: 700;
	font-size: 24px;
}

.list-item {
	margin: 8px 0;
	font-weight: 400;
	font-size: 16px;
}

.code-box {
	margin: 32px 0;
	border-radius: 8px;
	background: hsl(0, 0%, 90%);
	padding: 16px;

	&,
	& > * {
		font: 400 14px / 1.5 monospace;
	}
}

.direction {
	color: hsl(0, 100%, 40%);
	font: inherit;
}

code {
	padding: 2px 4px;
	color: white;
	font-family: monospace;
}

.theme {
	background: color(from var(--theme) srgb r g b / 30%);
	color: var(--theme);
}

.engine {
	clip-path: polygon(
		0% 12px,
		12px 0%,
		calc(100% - 12px) 0%,
		100% 12px,
		calc(100% - 12px) 100%,
		12px 100%
	);
	padding: 2px 8px;
	background: color(from var(--engine) srgb r g b / 30%);
	color: var(--engine);
}

.interpolation {
	background: color(from var(--interpolation) srgb r g b / 30%);
	color: var(--interpolation);
}

.function {
	background: color(from var(--function) srgb r g b / 30%);
	color: var(--function);
}

.polar {
	border-radius: 9999px;
}

.blue-bug {
	margin: 16px 64px;

	$start: color(xyz-d65 0.95 1 1.09);
	$end: color(xyz-d65 0.18 0.072 0.951);

	.oklab,
	.oklch {
		height: 50px;
		padding: 8px;
		font-size: 14px;
		background: linear-gradient(to right in oklab, $start, $end);
	}

	.oklch {
		border-top: 1px solid black;
		background: linear-gradient(to right in oklch, $start, $end);
	}
}

.lightpink-bug {
	margin: 16px 64px;

	$start: color(xyz-d65 0.584 0.463 0.36);
	$end: color(xyz-d65 0.18 0.072 0.951);

	.oklab,
	.oklch {
		height: 50px;
		padding: 8px;
		font-size: 14px;
		background: linear-gradient(to right in oklab, $start, $end);
	}

	.oklch {
		border-top: 1px solid black;
		background: linear-gradient(to right in oklch, $start, $end);
	}

	.color-wheel {
		position: relative;
		margin: 16px auto;
		width: 300px;
		height: 300px;
		border-radius: 9999px;
		background:
			radial-gradient(
				in oklch,
				oklch(100% 0.00011 271.152),
				oklch(100% 0.00011 271.152 / 0) 25%
			),
			conic-gradient(
				in oklch,
				oklch(62.793% 0.25768 29.223),
				oklch(96.798% 0.21094 109.783),
				oklch(86.645% 0.29481 142.511),
				oklch(90.541% 0.15458 194.807),
				oklch(45.203% 0.3133 264.073),
				oklch(70.166% 0.3226 328.352),
				oklch(62.793% 0.25768 29.223)
			);

		.oklch-label {
			position: absolute;
			top: 60px;
			left: 40px;
		}

		.oklab-label {
			position: absolute;
			top: 220px;
			left: 50px;
		}

		svg {
			width: 100%;
			height: 100%;
		}
	}
}
