// MARK: top
.top {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content 1fr;
	gap: 8px;
	align-items: center;
	padding: 8px;
}

.controls {
	grid-column: 1 / span 2;
	display: flex;
	align-items: center;
	gap: 8px;
}

.control-btn {
	display: grid;
	grid-template-columns: auto auto;
	gap: 8px;
	border-radius: 9999px;
	padding: 8px 16px;
	background: var(--primary);
	color: white;
	cursor: pointer;

	&:hover,
	&:active {
		filter: brightness(0.9);
	}
}

.form {
	display: grid;
	grid-template-columns: auto auto;
	gap: 8px;

	label {
		display: flex;
		gap: 8px;
		align-items: center;
	}

	input {
		border-radius: 9999px;
		height: 40px;
		padding: 6px;
		background: var(--primary);
	}
}

.label-top {
	flex-grow: 1;
	text-align: center;
}

.label-left {
	writing-mode: sideways-lr;
}

.table {
	grid-column: 2;
	display: grid;
	align-items: center;
	justify-items: center;
	width: 100%;
	height: 100%;
	min-height: 600px;
}

.color-stop-btn,
.interpolation-space-btn {
	margin: 1px;
	border-radius: 4px;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	min-height: 40px;
	background: var(--primary);
	padding: 4px;
	color: white;
	font-size: 10px;
	text-align: center;
	cursor: crosshair;

	&:hover {
		background: red;
	}
}

.interpolation-space-btn {
	white-space: nowrap;
}

.gradient {
	width: 100%;
	height: 100%;
}

.note {
	margin: auto;
	max-width: 800px;
	font-size: 12px;
	color: rgb(59, 59, 59);
}

// MARK: bottom
.bottom {
	margin: auto;
	max-width: 1000px;
	padding-bottom: 140px;
}

.title {
	margin: 32px 0 8px;
	font-weight: 700;
	font-size: 32px;
}

.code-box {
	margin: 16px 0;
	border-radius: 8px;
	background: #333333;
	padding: 16px;
	color: white;
	font-family: monospace;
}

.direction {
	color: rgb(255, 129, 150);
	font: inherit;
}

.interpolation-space {
	color: limegreen;
	font: inherit;
}

.color-stop {
	color: yellow;
	font: inherit;
}

.list-lvl-1 {
	list-style: upper-roman inside;
}

.list-lvl-2 {
	padding: 0 64px;
	list-style: decimal;
}

.subtitle {
	margin: 16px 0;
	font-weight: 700;
	font-size: 24px;
}

li {
	margin-bottom: 8px;
}

.code {
	font: inherit;
	font-family: monospace;
}

.blue-bug {
	margin: 16px 64px;

	.oklch,
	.oklab {
		height: 50px;
		padding: 8px;
		font-size: 14px;
		background: linear-gradient(
			to right in oklch,
			color(xyz-d65 0.95 1 1.09),
			color(xyz-d65 0.18 0.072 0.951)
		);
	}

	.oklab {
		border-top: 1px solid black;
		background: linear-gradient(
			to right in oklab,
			color(xyz-d65 0.95 1 1.09),
			color(xyz-d65 0.18 0.072 0.951)
		);
	}
}
