<!-- MARK: top -->

<div class="top">
	<div class="controls">
		<button class="control-btn" (click)="reset()">
			Reset
			<span class="material-symbols-outlined">format_color_reset</span>
		</button>

		<button class="control-btn" (click)="rotate()">
			Rotate
			<span class="material-symbols-outlined">rotate_90_degrees_cw</span>
		</button>

		<button class="control-btn" (click)="borders()">
			Borders
			<span class="material-symbols-outlined">pageless</span>
		</button>

		<p class="label-top">Color functions for gradient color stops</p>

		<form [formGroup]="form" class="form">
			<label for="startColor">
				Start color:
				<input
					type="color"
					formControlName="startColor"
					id="startColor"
					value="#ffffff"
				/>
			</label>

			<label for="endColor">
				End color:
				<input
					type="color"
					formControlName="endColor"
					id="endColor"
					value="#0000ff"
				/>
			</label>
		</form>
	</div>

	<p class="label-left">Interpolation color spaces for gradient mid-tones</p>

	<div
		#table
		class="table"
		[style.gridTemplateColumns]="
			'min-content repeat(' + (columnCount() - 1) + ', 1fr)'
		"
		[style.gridTemplateRows]="
			'min-content repeat(' + (rowCount() - 1) + ', 1fr)'
		"
	>
		<div></div>

		@for (space of constants.allColorSpaces; track $index) {
			<button
				class="color-stop-btn"
				[attr.data-color-stop-space]="'data-color-stop-space-' + space"
				(click)="removeColorStop(space)"
			>
				{{ getColorFunctionLabel(space) }}
			</button>
		}

		@for (
			interpolationSpace of constants.allInterpolationSpaces;
			track $index
		) {
			<button
				class="interpolation-space-btn"
				[attr.data-interpolation-space]="
					'data-interpolation-space-' + interpolationSpace
				"
				(click)="removeColorInterpolationSpace(interpolationSpace)"
			>
				{{ interpolationSpace }}
			</button>

			@for (space of constants.allColorSpaces; track $index) {
				<div
					class="gradient"
					[attr.data-color-stop-space]="'data-color-stop-space-' + space"
					[attr.data-interpolation-space]="
						'data-interpolation-space-' + interpolationSpace
					"
					[style.background]="getGradient(interpolationSpace, space)"
					[style.border]="showBorders ? 'solid black' : null"
					[style.border-width]="showBorders ? '0 1px 1px 0' : null"
				></div>
			}
		}
	</div>
</div>

<p class="note">
	All polar color spaces display "shorter hue" as the default hue interpolation
	method in CSS. The other three possible values are not listed here as they
	have specific use cases and are likely not what you require for general
	styling. For more info, visit
	<a
		href="https://developer.mozilla.org/en-US/docs/Web/CSS/hue-interpolation-method"
		target="_blank"
	>
		this link
	</a>
	.
</p>

<!-- MARK: bottom -->

<div class="bottom">
	<ol class="list-lvl-1">
		<li class="list-headline">TL;DR</li>
		<p style="font-weight: bold; color: red">FIREFOX</p>
		<p style="font-weight: bold; color: red">SAFARI</p>
		<p class="list-item">
			For consistent results across all hues, brightness levels, and
			saturations, use OKLCH as the interpolation color space and use the CSS
			color function "color(xyz-d65 …)" for color stops.
		</p>
		<p class="code-box">
			background: linear-gradient(
			<span class="direction">&lt;direction&gt;</span>
			in
			<span class="interpolation-space">&lt;interpolation-space&gt;</span>
			,
			<span class="color-stop">&lt;color-stop-1&gt;</span>
			,
			<span class="color-stop">&lt;color-stop-2&gt;</span>
			);
			<br />
			background: linear-gradient(
			<span class="direction">to right</span>
			in
			<span class="interpolation-space">oklch</span>
			,
			<span class="color-stop">color(xyz-d65 . . .)</span>
			,
			<span class="color-stop">color(xyz-d65 . . .)</span>
			);
		</p>

		<li class="list-headline">Default values</li>
		<ol class="list-lvl-2">
			<li class="list-item">
				Colors expressed in hexadecimal notation belong to the RGB color space;
				the HEX format is merely an alternative syntax for CSS "rgb()" color
				function, representing the same RGB values.
			</li>
			<li class="list-item">
				If no interpolation space is specified, gradients whose color stops are
				defined exclusively with the rgb(), hsl(), or hwb() functions default to
				the sRGB interpolation space. For all other cases, the gradient defaults
				to the OKLab interpolation space.
			</li>
		</ol>

		<li class="list-headline">Recomendations</li>
		<ol class="list-lvl-2">
			<li class="list-item">
				The recommended CSS workflow for generating high-fidelity, perceptually
				smooth color transitions involves two primary alternatives and a
				fallback:
			</li>
			<ul class="list-lvl-3">
				<li>
					Optimal Method: use OKLCH as the interpolation color space and color
					function "color(xyz-d65 …)" for color stops. This combination delivers
					the most accurate results across a wide range of hues, brightness
					levels, and saturations.
				</li>
				<li>
					Alternative Method: Substitute the interpolation space with OKLAB,
					while retaining the "color(xyz-d65 …)" color stop function. This
					yields a slightly different tonal characteristic that may align better
					with specific design requirements or color palettes.
				</li>
				<li>
					Standard Gamut Fallback: Employ OKLAB as the interpolation space with
					the legacy "rgb()" color function for stops. This approach offers good
					results on standard gamut displays.
				</li>
			</ul>
			<li class="list-item">
				Using any polar color space like HSL, HWB or LCH as the interpolation
				color space is generally discouraged. These spaces frequently produce
				inconsistent mid-tone results when combined with any color function for
				color stops, and they often introduce unintended colors into gradients.
				The only polar color space that works consistently is OKLCH.
			</li>
			<li class="list-item">
				The use of HSL, HWB or LCH is generally discouraged in modern CSS. For
				an intuitive polar system, OKLCH is the recommended modern solution. It
				uses the perceptually uniform color space, supports the full range of
				standard and wide gamuts, and provides more reliable results.
			</li>
		</ol>

		<li class="list-headline">Additional notes</li>
		<ol class="list-lvl-2">
			<li class="list-item">
				If one of the color stops is white, interpolation produces different
				gradients through polar and rectangular color spaces and across browsers
				in general. OKLAB is the preferred interpolation color space and while
				it generally yields superior results, in blue-white gradients for
				example, blue mid-tones can acquire a subtle teal hue. The alternative
				is OKLAB, which tends to introduce a faint purple tint in blue
				mid-tones. Similar hue shifts can be observed on other white-to-color
				gradients. Choose the option that best aligns with your visual
				requirements.
			</li>
			<div class="blue-bug">
				<div class="oklab">oklab</div>
				<div class="oklch">oklch</div>
			</div>
			<li class="list-item">
				Gradients spanning large hue differences (like a transition from light
				pink to blue) vary significantly based on whether rectangular (e.g.,
				Oklab) or polar (e.g., Oklch) color interpolation is used.
				<ul class="list-lvl-3">
					<li>
						Rectangular Interpolation (Oklab) Rectangular color spaces
						interpolate along a straight line across the color wheel. This path
						often passes near the achromatic center, causing a significant loss
						of saturation (a "graying out" or muddying) in the mid-tones of the
						gradient, especially with complementary colors. In the pink-to-blue
						example, the blue component tends to dominate the final gradient
						appearance.
					</li>
					<li>
						Polar Interpolation (Oklch) Polar color spaces interpolate in a
						circular manner around the hue wheel. This method effectively
						maintains saturation, preventing the desaturation observed in
						rectangular methods. However, this approach introduces additional
						hues (like pink, magenta, and purple in the example) into the
						mid-tones, which can result in a more complex color trajectory.
					</li>
					<li>
						Both interpolation methods are considered viable, and the choice
						between them ultimately depends on the specific design requirements
						of the gradient.
					</li>
				</ul>
			</li>
			<div class="lightpink-bug">
				<div class="oklab">oklab</div>
				<div class="oklch">oklch</div>
				<div class="color-wheel">
					<p class="oklch-label">oklch</p>
					<p class="oklab-label">oklab</p>
					<svg>
						<circle r="2" cx="50%" cy="50%" stroke="black" stroke-width="3" />
						<path
							d="m150,100 l-132,125"
							style="fill: none; stroke: black; stroke-width: 3"
						/>
						<path
							d="m150,100 q-90,-50 -132,125"
							style="fill: none; stroke: black; stroke-width: 3"
						/>
					</svg>
				</div>
				<p class="note">
					This color wheel is just a simplification of the full color gamut, but
					it serves the purpose of displaying the difference in polar and
					rectangular interpolation.
				</p>
			</div>
			<li class="list-item">
				If there is no difference in hue between color stops, both polar and
				rectangular color spaces for interpolation follow the same straight path
				between the stops and produce the same results.
			</li>
		</ol>

		<li class="list-headline">Environment</li>
		<ol class="list-lvl-2">
			<li class="list-item">
				All observations tested on: Chrome browser version 141, operating system
				Windows 11 and a standard color gamut display.
			</li>
			<p style="font-weight: bold; color: red">FIREFOX</p>
			<p style="font-weight: bold; color: red">SAFARI</p>
		</ol>
	</ol>
</div>
