*,
*::before,
*::after {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
	font-family: "Noto Sans";
	line-height: 1.6;
	-webkit-font-smoothing: antialiased; // Smoother rendering on macOS
	-moz-osx-font-smoothing: grayscale; // Smoother rendering on macOS Firefox
}

html,
body {
	max-width: 100%;
	overflow-x: clip;
	font-size: 100%;
	overscroll-behavior-y: none;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	background: hsl(0 0% 90%);
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	border-bottom: 1px solid black;
}

img {
	vertical-align: middle;
}

@mixin min-width($res) {
	@media screen and (min-width: $res) {
		@content;
	}
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
	--theme: hsl(180deg 100% 20%);
	--interpolation: hsl(260deg 100% 25%);
	--function: hsl(330deg 100% 35%);
	--engine: hsl(45deg 100% 20%);
}
